@import './_responsive.scss';

body {
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
	overflow-x: hidden;
}

.media-recorder {
	
	.recording-controls {
		margin-bottom: 10px;
		
		button {
			border: 1px solid black;
			border-radius: 3px;
			padding: 5px 20px;
			margin-right: 10px;
			cursor: pointer;
			
			&.inactive {
				display: none;
			}
			
			&.active {
				background-color: red;
				color: white;
			}
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	.video-feed-container {
		margin-bottom: 15px;
		
		@include tablet {
			display: flex;
		}
		
		h3 {
			border-bottom: 1px solid black;
			display: block;
			width: calc(100% - 15px);
			padding-bottom: 5px;
			margin-top: 0;
		}
		
		.video-container {
			position: relative;
			display: flex;
			align-items: stretch;
			
			.countdown {
				color: white;
				font-size: 150px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-shadow: 2px 2px 0px #000;
			}
			
			video {
				max-width: 100%;
				aspect-ratio: 16 / 9;
				
				@include mobile-only {
					width: 100%;
				}
				
				@include tablet {
					width: calc(100% - 15px);
				}
			}
		}
		
		>div {
			
			@include tablet {
				width: 50%;
			}
			
			.input {
				@include tablet {
					margin-right: 15px;
				}
			}
		}
		
		
	}
	
	.visualizer-container {
		margin-bottom: 10px;
	}
}