body {
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
}

.media-recorder {
	
	.video-feed-container {
		display: flex;
		margin-bottom: 15px;
		
		video {
			width: 50%;
			max-width: 100%;
		}
		
		.input {
			margin-right: 15px;
		}
		.output {}
	}
	
	
	.visualizer-container {
		margin-bottom: 10px;
		
		canvas {
		}
	}
}